@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;600&display=swap');

body {
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 22px;
  color: #444;
  padding: 0 20px;
  background-color: #f4f4f4;
  font-family: 'inter', 'ibm plex sans', 'sans-serif';
}

h1, h2, h3 {
  line-height: 1.2;
  font-family: 'manrope', 'sans-serif';
  font-weight: 800;
}

/* h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
} */

.link-img {
  width: 1.5rem;
  position: relative;
  top: 4px;
  margin-right: 0.7rem;
}

.spiro {
  filter: grayscale(100%) brightness(0);
}