@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

body {
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 22px;
  color: #444;
  padding: 0 20px;
  background-color: #f4f4f4;
  font-family: 'Manrope', 'sans-serif';
}

h1 {
  font-size: 3rem;
}

h1, h2, h3 {
  line-height: 1.2;
}

.link-img {
  width: 1.5rem;
  position: relative;
  top: 4px;
  margin-right: 0.7rem;
}

.spiro {
  filter: grayscale(100%) brightness(0);
}